/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
    padding: 0 15px;
}

.icon-block .material-icons {
      font-size: inherit;
}

.btn {
    border-radius: 0%;
}

.container {
    margin: 0 auto;
    max-width: 1280px;
    width: 90%;
}

.new-p-form {
    margin-bottom: 30px;
}

#current_user {
    margin-top: 20px;
    border-bottom: 2px solid red;
}

/* Materialize CSS Tab --- Begin */
.tabs {
    display:-webkit-flex;
    display: -ms-flexbox;
    display: flex
}
/* Materialize CSS Tab --- End */

@media only screen and (min-width: 601px) {
  .container {
      width: 85%;
    }
}

@media only screen and (min-width: 993px) {
  .container {
      width: 70%;
  }
}